body {
  overflow: hidden;
  background: linear-gradient(180deg, #006494, #1B98E0);
}

#Entire {
    visibility: visible;
    animation: start .5s ease-in-out;
  }
#Entire1{
    animation: dance 0.05s infinite alternate;
}

#RocketShip {
    visibility: visible;
    animation: start .5s ease-in-out;
}

#RocketShip1{
    animation: dance 0.05s infinite alternate;
}

@keyframes start {
  0% {transform: translateY(300px);}
  100% {transform: translateY(0px);} 
}

@keyframes dance {
  0% {transform: translateY(0);}
  100% {transform: translateY(4px);} 
}

.rainbow {
  animation: rocket-animation 1.3s infinite, opacity1 1.3s infinite;}

.rainbow1 {
  animation: rocket-animation 1.8s infinite, opacity1 1.8s infinite;}

.rainbow2 {
  animation: rocket-animation 2.4s infinite, opacity1 2.4s infinite;}

@keyframes rocket-animation {
  0% {transform: translateY(0);}
  100% {transform: translateY(600px);} 
}

@keyframes opacity { 
  0%   { opacity: 0; }
  100% { opacity: 1; }
 }

@keyframes opacity1 { 
  0%   { opacity: 1; }
  50%  { opacity: 0; }
 }

#BgStar0 {
  visibility: visible;
  animation: star-animation 0.6s infinite 0.2s ease-in-out;
}

#BgStar1 {
  visibility: visible;
  animation: star-animation 0.6s infinite ease-in-out;
}

#BgStar2 {
  visibility: visible;
  animation: star-animation 0.6s infinite 0.4s ease-in-out;
}

@keyframes star-animation {
  0% {transform: translateY(0);}
  100% {transform: translateY(600px);} 
}

a{
    font-weight: 700;
    color: white;
}

div.text{
    text-align: center;
    color: rgba(288,288,288,0.95);
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
    padding: 0 0;
}

p.header{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

p.sub-header{
    font-size: 21px;
    font-weight: 400;
    margin-top: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    div.text{
        padding: 0 10%;
        margin-top: 50px;
    }
    
    p.header{
        font-size: 25px;
    }
    
    p.sub-header{
        font-size: 15px;
    }
    
}